{{ if .chezmoi.os "linux" -}}
#!/usr/bin/env bash
cd /tmp
wget https://github.com/bitwarden/clients/releases/download/cli-v2025.7.0/bw-linux-2025.7.0.zip
unzip bw-linux-2025.7.0.zip -d .
chmod +x bw
if ! [[ -d ~/bin ]]; then
    mkdir ~/bin
fi
mv bw ~/bin/bw
export PATH=~/bin:$PATH
cd -
{{ end -}}
