#!/usr/bin/env bash
{{ if .wsl -}}
# wsl only packages
{{ range .packages.winget -}}
winget.exe -e --id {{ . }}
{{ end -}}
{{ end -}}

# core packages
{{ if eq .chezmoi.os "linux" -}}
echo "Installing core packages"

{{ if (has .chezmoi.osRelease.id .osRelease.idlike.archlinux) -}}
# core pacman packages
sudo pacman -Syu --noconfirm --needed {{ .packages.pacman.core | join " " }}

# enable reflector
if ! systemctl is-active --quiet reflector; then
    echo "Use REFLECTOR to select best mirrors"
    echo "--country France,Germany,Italy" | sudo tee -a /etc/xdg/reflector/reflector.conf
    sudo systemctl enable --now reflector
fi

# Install paru
if ! command -v paru 2>&1 >/dev/null; then
    echo "Install Paru"
    old_wd=$(pwd)
    cd $LOCALSRC
    git clone https://aur.archlinux.org/paru-bin.git paru-bin
    cd paru-bin
    makepkg -si
    cd $old_wd
fi

{{ if not .wsl -}}
echo "Installing extra packages"
sudo pacman -Syu --noconfirm --needed {{ .packages.pacman.extra | join " " }}
{{ end -}}

{{ else if (has .chezmoi.osRelease.id .osRelease.idlike.debian) -}}
sudo apt update && sudo apt upgrade -y

# core apt packages
{{ range .packages.apt.core -}}
sudo apt-get install -y {{ . }}
{{ end -}}

{{ if not .wsl -}}
echo "Installing extra packages"
{{ range .packages.apt.extra -}}
sudo apt-get install -y {{ . }}
{{ end -}}

# install wezterm
curl -fsSL https://apt.fury.io/wez/gpg.key | sudo gpg --yes --dearmor -o /usr/share/keyrings/wezterm-fury.gpg
echo 'deb [signed-by=/usr/share/keyrings/wezterm-fury.gpg] https://apt.fury.io/wez/ * *' | sudo tee /etc/apt/sources.list.d/wezterm.list
sudo chmod 644 /usr/share/keyrings/wezterm-fury.gpg
sudo apt-get install -y wezterm
{{ end -}}

{{ else if (has .chezmoi.osRelease.id .osRelease.idlike.fedora) -}}
sudo dnf upgrade -y
# core dnf packages
sudo dnf install -y {{ .packages.dnf.core | join " " }}

{{ if not .wsl -}}
echo "Installing extra packages"
sudo dnf install -y {{ .packages.dnf.extra | join " " }}

# install wezterm
sudo dnf copr enable wezfurlong/wezterm-nightly
sudo dnf install wezterm
{{ end -}}
{{ end -}}
{{ end -}}


{{ if .linux -}}
# flatpak packages
echo "Installing flatpaks"
flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo

{{ range .packages.flatpak -}}
flatpak install -y flathub {{ . }}
{{ end -}}
{{ end -}}

{{ if .mac -}}
# Install Homebrew if missing
if ! command -v brew >/dev/null 2>&1; then
    echo "Installing Homebrew"
    bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
eval "$(/opt/homebrew/bin/brew shellenv)"

# install packages using brew bundle
brew undle --file=- <<EOF
{{ range .packages.brew.brew -}}
brew {{ . | quote }}
{{ end -}}

{{ range .packages.brew.cask -}}
cask {{ . | quote}}
{{ end -}}
EOF
{{ end -}}
