#!/usr/bin/env bash
{{ if .wsl -}}
{{ range .fonts.ohmyposh -}}
oh-my-posh.exe font install {{ . }}
{{ end -}}
{{ else -}}
{{ range .fonts.ohmyposh -}}
oh-my-posh font install {{ . }}
{{ end -}}
{{ end -}}
